@model Studentcourses.Models.Student

@using Studentcourses.Models

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{

    <h4>Student</h4>

    @Html.HiddenFor(model => model.Id)

    <div class="editor-label"><b>Name</b></div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
    </div>

    <div class="editor-label"><b>Surname</b></div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Surname)
    </div>

    <div class="editor-label"><b>Courses</b></div>
    foreach (Cours c in ViewBag.Courses)
    {
     <input type="checkbox" name="selectedCourses" value="@c.Id" @(Model.Courses.Contains(c) ? "checked=\"checked\"" : "") />@c.Name<br/>
    }

    <p>
        <input type="submit" value="Save">
    </p>


}
